.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 24px;
  width: 1128px;
  margin: auto;
  margin-top: 24px;
  padding: 0;
  background-color: #fff;
}

.gallery-item {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 48px) / 3);
  max-width: 360px;
  max-height: 200px;
  overflow: hidden;
}

.gallery-item:hover {
  transform: scale(1.04);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gallery-image {
  object-fit: cover;
}

.gallery-image:hover {
  cursor: url(../images/cursor.svg), pointer;
}

.modal {
  width: 1112px;
  height: 640px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.modal-image {
  width: 1112px;
  height: 640px;
}

.modal-image:hover {
  cursor: url(../images/cursor.svg), pointer;
}

.basicLightbox {
  background: rgba(46, 47, 66, 0.8);
}
